
.hero {
  
 height: 35em;
 margin-left: 1em;
 margin-right: 1em;
  background-image: url('/photos/herophoto.jpg'); 
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.hero h1 {
  margin-bottom: 20px; 
}


.boxes .box button {
  margin-top: auto; 
  background-color: #3498db; 
  color: #fff;
  padding: 10px 20px; 
  border: none;
  cursor: pointer;
}
.hero button{
  margin-top: auto; 
  background-color: #3498db;
  color: #fff;
  width: auto;
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
}

.boxes {
  flex: 3; 
  display: flex;
  justify-content: space-around; 
}

.box {
  flex: 1; 
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  margin: 10px;
  text-align: center;
}
.box1{
  background-image: url('/photos/samsung-phone.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center; 
}
.box2{
  background-image: url('/photos/phone-cases.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center; 
}
.box3{
  background-image: url('/photos/phone-charger.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center; 
}