.containerEmail {
  display: grid;
  
  margin-top: 3em;
  position: relative; 
  margin-left: 2em;
  margin-right:8em;
}

.ContactBox1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 16; 
}

.ContactBox2 {
  grid-column: 3;
  grid-row: 1 / span 6; 
  position: relative; 
}

.ContactBox3 {
  grid-column: 3;
  grid-row: 7 / span 10; 
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrera innehållet horisontellt */
  justify-content: center; /* Centrera innehållet vertikalt */
  height: 80%; /* Ta upp hela höjden av .form-row */
  margin-bottom: 1em;
}

label {
  margin-bottom: 0.5em;
}

.ContactInputs {
  width: 60%;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.EmailSubmit {
  width: 5em;
  background-color: green;
  color: white;
  margin-bottom: 4em;
}

.Map-contact {
  width: 100%;
  height: 100%;
  border: 0;
}

.contactPhoto {
  margin-top: 3em;
  height: 20em;
  width: 20em;
  display: block;
  margin: auto;
}

.PhoneNumber{
  font-size:x-large;
  
}