.BytenReturer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

.BytenReturer h2 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 46%;
}

.BytenReturer h3 {
  color: #666;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.BytenReturer p,
.BytenReturer ul {
  color: #444;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}

.BytenReturer li {
  margin-left: 20px;
}

.img1 {
  width: 30%;
  float: right;
  margin-left: 30px;
}
