
.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group label {
  margin-right: 10px; 
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem; 
}
.form-group label {
  width: 150px; 
  margin-bottom: 5px; 
}
.form-group input,
.form-group select {
  width: 50%; 
  padding: 8px; 
  box-sizing: border-box; 
  margin-bottom: 10px; 
}


.betalning-icon {
  max-width: 100%;
  grid-row: 0;
  justify-self: center;
}

.FK_icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 
}

.FK_icon {
width: 15em;
height: auto;
margin-right: 1em;
}

.grid-item{
  display: grid;
  place-items: center;
  height: 13em;

}
.lyout-button{
  max-width: 20em;

}
.grid-confirm {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  align-items: center;
  justify-content: center;
  justify-content: center;

}

.grid-confirm-item {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  flex: 1;

}
.grid-container {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  max-width: 940px;
  width: 80%;
  margin: 10% 20% 20% auto;
}

.grid-item {
  text-align: center; 
}
.h2-payment{
  color: black;

}
.thx{
  justify-content: center;
  text-align: center;

}
.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3em;
  height: 100vh; 
}

.react-tabs {
  width: 100%; 
}

.react-tabs__tab-list {
  margin: 0; 
  padding: 0; 
  display: flex;
  justify-content: space-around; 
}

.react-tabs__tab {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 15px; 
}

.react-tabs__tab--selected {
  background-color: #2980b9;
}
