
.AboutUsContainer {
    max-width: 960px;
    margin: 29px auto;
}

.heroAbout {
    display: flex;
    flex-direction: column;
}

.aboutheros {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

.heroAboutGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heroAboutBox {
    flex: 0 1 calc(50% - 20px);
    margin-bottom: 10px;
    padding: 45px; /* Öka paddingen för att ge mer utrymme inuti boxen */
    border: 1px solid #ddd;
    border-radius: 50%; /* Använd 50% för att skapa cirkelformade boxar */
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrera text vertikalt */
}

.heroAboutBox p {
    font-size: 16px;
}

@media (min-width: 768px) {
    .heroAboutBox {
        flex: 0 1 calc(25% - 10px);
    }
}









/*.heroAbout {*/
/*    max-width: 800px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/


/*}*/
/*.aboutheros {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    margin-bottom: 20px;*/
/*    order: -1;*/
/*}*/

/*.heroAboutBox {*/
/*    flex: 1;*/
/*    border: 1px solid #dddddd;*/
/*    margin: 1em;*/
/*    padding: 10px;*/
/*    background: white;*/
/*    transition: 0.3s;*/
/*    width: 80%;*/
/*    height: 45em;*/
/*    border-radius: 5px;*/
/*}*/
.heroAboutBox:hover{
    background-color: #e0e0e0;
}

.social-icons {
    display: flex;
   justify-content: center;
    align-items: center;
   margin-top: 20px;

}

.social-icons a {
   display: inline-block;
  margin: 0 10px;
   font-size: 24px;
  color: #333;
   transition: color 0.3s ease;

}

.social-icons a:hover {
   color: #007bff;
}



