.heroAbout {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row; /* Placera elementen horisontellt */
    flex-wrap: wrap; /* Wrap till nästa rad om det inte finns tillräckligt med utrymme */
    justify-content: space-between; /* Placera boxarna jämnt fördelade över utrymmet */


}
.aboutheros {
    width: 100%; /* Säkerställer att rubriken tar upp hela bredden */
    text-align: center; /* Centrera texten */
    margin-bottom: 20px; /* Avstånd under rubriken */
    order: -1; /* Placera rubriken först i ordningen */
}

.heroAboutBox {
    flex: 1;
    border: 1px solid #dddddd;
    margin: 5px;
    padding: 10px;
    background: white;
    transition: 0.3s;
    width: 80%;
    height: 45em;
    border-radius: 5px;
}
.heroAboutBox:hover{
    background-color: #e0e0e0;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;

}

.social-icons a:hover {
    color: #007bff;
}




