.heroAbout{
    justify-content: center;
    text-align: center;
    width: 60%;
    align-items: center;
}
img:hover{
    transform: translateY(1.3px);
}
.Heroimgaboutus{
    display:inline-block;
    width: 25%;
    height: 150px;
    border-radius: 10px;
    margin-left: 135px;
}

.Heroimgaboutus2{
    width:30% ;
    display: inline-block;
    height: 150px;
    border-radius: 10px;
}
.Heroimgaboutus{
    display: inline-block;
    width: 25%;
    height: 150px;
    border-radius: 10px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    margin-top: 20px;
}

.social-icons a {
    color: grey;
    text-decoration: none;
}

.social-icons a:hover {
    color: #e74c3c;
}

@media screen and (max-width: 768px) {
    /* body {
        font-size: 14px;
    } */

    /* .container {
        padding: 10px;
    } */
}

@media screen and (max-width: 480px) {
    /* body {
        font-size: 12px;
    } */

    /* .container {
        padding: 5px;
    } */
}




