:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h1-pages {
  padding: 5px;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 4em;
  order: -1;
  width: 100%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
}
.container {
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100vh;
}
button {
  grid-column: span 2; /* Fyll två kolumner */
  width: auto;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h5 {
  text-align: center;
  grid-row: 1;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
  
  width: 100%;
  
  justify-content: center;
  text-align: center;
  
}
p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}

label {
  width: 100px;
  margin-bottom: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: green;
    color: white;
  }
}
